<%
=begin%>
 <% Category.all.each do |category| %>
  <li>
    <% if session[:admin] then %>
      <%= link_to new_post_path do %><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><% end %>
    <% end %>  
  </li>
<% end %> 
<%
=end%>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href=<%=root_path%>>
    <img src="https://paintingappbucket.s3-us-west-2.amazonaws.com/plain_egg.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Plaid Egg
  </a>
</nav>