<% Category.all.each do |category| %>
  <li>
    <% if session[:admin] then %>
      <%= link_to new_post_path do %><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><% end %>
    <% end %>  
  </li>
<% end %>