
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-5">


      <% @posts.each do |post| %>
 
          <%= image_tag(post.image_url.to_s, class: "img-fluid") %>
          <% if session[:admin] then %>

            <%= link_to edit_post_path(post), class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            <% end %>

          <% end %>

          
      <% end %>
      <div class="pagination">
        <%= will_paginate @posts, :page_links => false %>
      </div>

    </div>
  </div>
</div>

